<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>CookBook</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<h1>CookBook etusivu</h1>
	<p th:text="'Tervetuloa CookBook reseptikirjastoon!'"/>
	
	<form th:action="@{/logout}" method="post">
		<input type ="submit" value ="sign out" class = "btn-sm btn-danger"/>
	</form>
	
		<table>
		<tr>
			<th>Resepti</th>
			<th>Ainesosat</th>
			<th>Työvaiheet</th>
			<th>Ruokalaji</th>
		</tr>
		

			<tr th:each = "recipe : ${recipes}">
				<td th:text="${recipe.recipeName}"> </td>
				<td th:text="${recipe.ingredient}"> </td>
				<td th:text="${recipe.method}"> </td>
				<td th:text="${recipe.dishType.dishTypeName}"> </td>

				 	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${recipe.recipeid})}">Muokkaa reseptiä</a></td>   
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${recipe.recipeid})}">Poista resepti</a></td> 
			</tr>		

	</table>
	<td sec:authorize="hasAuthority('ADMIN')"><a href="/add">Lisää resepti</a></td>
</body>
</html>